@font-face{
    font-family: "SlimJoe";
    src: url('../fonts/SlimJoe.otf');
}
    
body{
    background-color: #4b4b4b;
    margin: 0;
}

.header{
    width: 100%;
    background-color: #000000;
    text-align: center;
    box-shadow: 0 0 25px #333333;
}

.header ul{
    display: inline-block;
}

.header ul li a{
    font-family: "SlimJoe";
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    display: block;
}

.header li a:hover{
    background-color: #4b4b4b;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    transition: all .6s ease;
}

.header li a:focus{
    background-color: #4b4b4b;
} 

.bodyindex{
    background-color: #34495e;
    margin: 0;
}

.botoes{
    margin: 120px auto;
    width: 600px;
}

.bodyAzul{
    background-image: url(../imagens/wp.jpg);
    background-repeat: no-repeat;
    margin: 0;
}

.formularioCad{
    padding: 25px;
    margin: 30px auto;
    background-color: #ecf0f1;
    width: 450px;
    -webkit-box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    -moz-box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    display: block;
}

.formularioLogin{
    padding: 25px;
    margin: 160px auto;
    background-color: #ecf0f1;
    width: 350px;
    height: 325px;
    -webkit-box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    -moz-box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
}

.errou{
    border-color: #FF0000;
}

.acertou{
    border-color: #008000;
}

.logo{
    margin: 0px auto;
}

.h4{
    color: #FFFFFF;
}

.backgroundInicial{
    background-color: rgba(105,105,105,0.6);
    width: 250px;
    height: 120px;
    border-radius: 10px;
}

.glyphicon{
    font-size:20px;
    color:#19b698;
}

.glyphicon-off{
    color: #FFFFFF;
    height: 10px;
}

.btnProjeto a{
    -moz-box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    text-decoration: none;
}


.projeto {
    text-align: center;
    background-color: #ecf0f1;
    margin: 15px 12px;
    height: 230px;
    width: 280px;
    -moz-box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    box-shadow: 1px 1px 18px 3px rgba(0, 17, 50, 0.36);
    border-radius: 10px;
    float: left;
    display: block;
}

h4{
   font-size: small;
   color: #34495e;
}


.principal{
    color: #19b698;
    margin: 20px auto;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listagem{
    color: #19b698;
    margin: 20px;
    width: 250px;
    font-size: 20px;
}

.projetoEspecifico{
    margin: 10px 10px;
}

.tableTarefas{
    margin-left: 290px;
    border-collapse: collapse;
}

.tableTarefas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #19b698;
    color: white;
}

.tableTarefas td, .tableTarefas th{
    padding: 8px;
     border: 1px solid #ddd;
}

.tableTarefas{
    background-color: #f2f2f2;
}

.sobrenos{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #1abc9c;
    height: auto;
    margin: 0 auto;
    
}

.sobrenos p{
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    color: #FFFFFF;
}

.glyphicon-envelope{
    color: #000000;
}

.status{
    color: #FFFFFF;
    margin: 0 0 0 20px;
    width: 100px;
}


.projDiv{
    width: 100%;
    padding: 10px 0 0 0;
}


.flex{
    display: flex;
    width: 100%;
    height: auto;
}

.flex-wrap{
    flex-wrap: wrap;
}

.backAndamento{
    background-color: #2980b9;
}

.backFinalizado{
    background-color: #16a085;
}

.backAtrasado{
    background-color: #d24d57;
}

.btn-success{
    background-color: #16a085;
}
.btn-success:hover{
    background-color: #16a085;
}

.btn-padrao{
    background-color: #000000;
}

.btn-padrao:hover{
    background-color: #000000;
}